@import "partials/variables";
@import "partials/botones";

* {
    margin: 0%;
    padding: 0%;
}


body{
    background-color: $color_fondo;
}

header {
    background-color:$color_fondo;
   height: 600px;

}


a {
    font-size: 20px;
    color: $color_texto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;


}

main {
    background-color:$color_fondo;
   
}

h2 {
    color:  $color_texto;
    text-align: center;
    
}

p {
    color:  $color_texto;
}


footer p{
    text-align: center;
    font-size:18px;
    font-family: 'Dancing Script', cursive;

}

footer {
    height: 50px;
    background-color: $color_fondo;

}

label {
    color:  $color_texto;
}




h3 {
    color:  $color_texto;
    font-size: 25px;
    text-align: center;
}

ul{
    display:flex;
    background-color: $color_fondo;
    list-style-type: none;
}




li{ 
    color:  $color_texto;
    text-align: center;
}


a:hover{
    color:white;
}


table{
   

   th{
        text-align: center;
   }
   
   td{
        text-align: center;
   }

   button{
        @include botones(100%,80%,yellow,900);
       
    }
}






img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulos{
    font-size:30px;
    font-family: 'Dancing Script', cursive;
    color: $color_texto;
    margin-top:80px;
    margin-bottom:80px;
}





.galeria{
    display:grid;


    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter:grayscale(100%);

        &:hover{
            filter:grayscale(0);
        }
        
    }


   
}




.contacto{
    display:flex;
    flex-direction: column;
    height: 1100px; 
    justify-content: center;
    align-items: center;
    

    &__form{
        display:grid;
        flex-direction: column;
        width: 70%;
        height: 80%;
        background-color: rgb(13, 12, 12);
        background-image: url("../img/img_form.jpg");
        background-repeat: no-repeat;
        background-position: center;
        grid-template-columns: 90%;
        grid-template-rows:10% 12% 55%;
        grid-template-areas:"titulo"
                             "parrafo"
                             "form";
        justify-content: center;
        align-content: end;
      


    }

    p{
        font-size:20px;
        text-align: center;
        color:rgb(239, 239, 239);
    }

    h3{
     
        font-size:40px;
        text-align: center;     
        color: white;
        font-family: 'Dancing Script', cursive;
    }
    
    textarea{ 
       font-size:20px;
       width: 100%;
    }

    input{
        width: 100%;
        height: 30px;
        margin-bottom:10px;       
        font-size:20px;
    }
}




#img_form{
    width: 45%;
    height: 80%;
    display:inline-block;
}


form{ 
    width: 100%;
    height: 100%;
 
   
}


label{
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(201, 190, 190);
    margin-left:10px;   
    font-size:20px;
    
}








#boton_form{
    @include botones(30%, 8% , rgb(53, 53, 53) , 900);
    margin-top:10px;
    margin-left:35%;
   
}







.grilla_home{

    display:grid;

}


.seccion_home{
    display:flex;
}


.grilla_discografia{

    display:grid;

    section{
        background-color: rgba(11, 11, 11, 0.907);
       
        h3{
            padding-top:1%;
            height: 9%;
           
            
        }
        iframe{
            height: 90%;
           
        }
    }

   
   
}

@media only screen and (max-width:600px){


    header{
        height: 300px;
    }
    
    ul{
        height: 200px;
        background-color:rgb(27, 27, 27) ;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        
    }

  
    .grilla_home{
        height: 1000px;
        grid-template-columns: 90%;
        grid-template-rows: 50% 40%;
        grid-template-areas:"foto"
                            "texto";

        justify-content: center;
        align-content: space-around;

       
    }


    .seccion_home{
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(0, 0, 0);
       
    }


    .seccion_home h2{
        font-size: 50px;
        text-decoration: underline;
        

    }

 
    .seccion_home p{
        font-size:20px;
        text-align: center;
        height: 60%;
    }


    .galeria{
        height: 3000px;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
        grid-template-columns: 90%;
        justify-content: center;
        align-content: space-around;
    }


    .grilla_discografia{
        height: 5500px;
        grid-template-columns: 95%;
        grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px 400px;
        grid-template-areas: "disco1"
                             "disco2"
                             "disco3"
                             "disco4"
                             "disco5"
                             "disco6"
                             "disco7"
                             "disco8"
                             "disco9";
        justify-content: center;
        align-content: space-around;

       
      
    }

    
.contacto{   
    height: 1000px; 
    

    &__form{       
        width: 90%;      
    }


    
}

}



@media only screen and ( min-width:600px){


    
    header{
        height: 400px;
    }
    
    ul{
        height: 100px;
        background-color:rgb(27, 27, 27) ;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        
    }

    li{
        width: 10%;
       
    }
  
    .grilla_home{
        height: 1500px;
        grid-template-columns: 45% 45%;
        grid-template-rows: 10% 60% 10%;
        grid-template-areas:". ."
                            "foto texto"
                            ". .";

        justify-content: space-evenly;
        align-content: space-around;
    }


    .seccion_home{
        flex-direction: column;
        justify-content: space-evenly;
        grid-area: texto;
        background-color: $color_fondo;
    }


    .seccion_home h2{
        font-size: 60px;
        text-decoration: underline;
         

    }

 
    .seccion_home p{
        font-size:30px;
        text-align: center;
        height: 60%;
        
    }


    #img_home{
        grid-area:foto;
    }


    .galeria{
        height: 3000px;
        grid-template-rows:  25% 25% 25% ;
        grid-template-columns: 30% 30%;
        justify-content: space-evenly; 
        align-content: space-around;
    }

    .grilla_discografia{
        height: 4500px;
        grid-template-columns: 45% 45%;
        grid-template-rows: 600px 600px 600px 600px 600px;
        grid-template-areas: "disco1 disco2"
                             "disco3 disco4"
                             "disco5 disco6 "
                             "disco7 disco8"
                             "disco9 ."    ;
        justify-content:space-evenly;
        align-content: space-around;


      
    }

}